<%= form_for @genre, remote: true, html: {id: "genre_form"} do |f| %>
    <table>
      <tr>
        <td>Genre Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Genre" %>
        </td>
      </tr>
    </table>
<% end %>