<center>
    <strong>Add Screener to Playlist</strong><br/>

    <div id="search_form">
      <%= render partial: 'screener_search_form',
                 object: @search %>
    </div>
    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  style: 'display:none;' %>

    <div id="item_added"></div>

    <div id="screeners">
      <%= render partial: "screeners" %>
    </div>
</center>


<script type="text/javascript">
    var $ = jQuery;

    $(function () {
        $("#screener_search_form").submit(function (form) {
            form.preventDefault();
            $.ajax({ url: '/screeners',
                type: 'get',
                success: function() {
                    var screeners = " <%= escape_javascript(render("screeners")) %> ";
                    $("#screeners").html(screeners);
                }
            });
        });
    });
</script>
