<table width="100%">
  <tbody id="videoplaylist" style="cursor: move">
  <%= render partial: 'screener_playlist_item',
             collection: @screener_playlist.screener_playlist_items_sorted %>
  </tbody>
</table>

<%= sortable_element "videoplaylist",
                     url: {action: "sort"},
                     complete: visual_effect(:highlight,
                                             "videoplaylist"),
                     tag: 'tr'
%>