<html>
<header>
<title>Images in Motion - <%=h @screener_playlist.airline.code if !@screener_playlist.airline_id.nil? %><%=h @screener_playlist.start_cycle.strftime("%m%y") %> Screeners Playlist</title>
<%= stylesheet_link_tag 'print' , :media => 'print' %>
<%= stylesheet_link_tag 'print' , :media => 'screen' %>
</header>
<body>
<div class="print">
	<center><img src="/images/iim-logo.jpg" /></center>
	<br/>
	<h2><%=h @screener_playlist.airline.code if !@screener_playlist.airline_id.nil? %><%=h @screener_playlist.start_cycle.strftime("%m%y") %> Screener Playlist</h2>

	<div id="playlist">
		<table width="900">
		  <%= render :partial => 'playlist_item_view', :collection => @screener_playlist.screener_playlist_items_sorted %>
		</table>
	</div>
</div>
</body>
</html>