  <tr>
  <td class="list-header">Track Title</td>
  <td class="list-header">Artist</td>
  <td class="list-header">Label</td>
  <td class="list-header">CD Code</td>
  <td class="list-header">Duration</td>
  <td class="list-header" colspan="2">&nbsp;</td>
  </tr>
<%= render :partial => 'track', :collection => @tracks %>