<% form_remote_tag :url => {:action => 'create'}, 
                    :html => {:id => 'video_parent_genre_form'}  do %>
<table>
  <tr>
	<td>Video Parent Genre Name</td>
    <td>
      <%= text_field_tag 'video_parent_genre[name]' %>
    </td>
    <td colspan="2">
      <%= submit_tag "Add New Video Parent Genre" %>
    </td>
  </tr>
</table>
<% end %>