  <tr>
    <td class="list-item"><%= link_to album.title_original, album_path(:id => album.id) %><br/><%=h album.title_english %>&nbsp;</td>
	<td class="list-item"><%=h album.artist_original %><br/><%=h album.artist_english %>&nbsp;</td>
	<td class="list-item"><%=h album.label.name if !album.label_id.nil? %>&nbsp;</td>
	<td class="list-item"><%=h album.release_year %>&nbsp;</td>
	<td class="list-item"><%=h album.cd_code %>&nbsp;</td>
    <td class="list-item"><%= link_to 'Edit', edit_album_path(album) %></td>
    <td class="list-item"><%= link_to 'Delete', album, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= find_album_edit_links params[:playlist_id], album.id %></td>
  </tr>