<div id="header">
<div id="nav">
<div id="clear"><br/></div>
</div>
</div>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
<div id="content-header-actions">
</div>
<div id="content-header">
Login
</div>
</div>