<%= render partial: 'layouts/track_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Search Baidu",
                "http://www.baidu.com",
                popup: true %>
  </div>
  <div id="content-header">Add New Track<br/>
  </div>

</div>
<div id="content">
  <center>

    <%= render partial: 'form',
               object: @track %>

  </center>
  <br/><br/>
</div>