<center>
    <strong>Add Movie to Playlist</strong><br/>

    <div id="search_form">
      <%= render partial: 'movie_search_form',
                 object: @search %>
    </div>
    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  style: 'display:none;' %>

    <div id="item_added"></div>

    <div id="movies">
      <%= render partial: "movies" %>
    </div>
</center>


<script type="text/javascript">
    var $ = jQuery;

    $(function () {
        $("#movie_search_form").submit(function (form) {
            form.preventDefault();
            $.ajax({ url: '/movies',
                type: 'get',
                success: function() {
                    var movies = " <%= escape_javascript(render("movies")) %> ";
                    $("#movies").html(movies);
                }
            });
        });
    });
</script>
