<table width="100%">
  <tbody id="movieplaylist" style="cursor: move">
  <%= render partial: 'playlist_item',
             collection: @movie_playlist.movie_playlist_items_sorted %>
  </tbody>
</table>

<script>

    var $ = jQuery;

    $(document).ready(function () {
        $("#movieplaylist").sortable({
            axis: 'y',
            containment: 'parent',
            cursor: 'crosshair',
            items: 'tr.sortable'
        });
    });

</script>

<%#= sortable_element "movieplaylist",
                     url: {action: "sort"},
                     complete:  visual_effect(:highlight,
"movieplaylist"),
                     tag: 'tr'
%>