<%= render partial: 'layouts/movies_nav' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'search_form',
                 object: @search %>
    </div><!--/span-->
    <div class="span9">
      <%= bootstrap_flash %>
      <%= render partial: "movies" %>
    </div>
  </div><!--/row-->
</div> <!-- /container -->
