<%= render partial: 'layouts/movie_header' %>
<center>
  <p style="color: green">
    <%= flash[:notice] %>
  </p>
</center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
  </div>
  <div id="content-header">New Movie<br/>
  </div>
</div>
<div id="content">
  <center>
    <h1>New Movie</h1>
    <%= render 'form' %>
  </center>
  <br/>
  <br/>
</div>
