<% content_for :title do %> - Movie Playlist Types
<% end %>

<div id="header">
  <div class="title">Settings - Movie Playlist Types</div>
  <%= render partial: "layouts/movies_settings_nav" %>
</div>

<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header">
    Movie Playlist Types
  </div>
</div>
