<center>
  <div class="overlay">
    <%= link_to_hide_overlay 'X',
                             album_playlists_path,
                             id: "cancel" %>
    <br/>
    <strong>Add Album to Playlist</strong>

    <div id="search_form">
      <%= render partial: 'album_search_form',
                 object: @search %>
    </div>

    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  style: 'display:none;' %>

    <br/>

    <div id="item_added"></div>

    <div id="albums">
      <%= render partial: "albums" %>
    </div>

  </div>
</center>