<%= render partial: 'layouts/albumplaylist_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">

  </div>
  <div id="content-header">Audio Playlists</div>
</div>

<div id="content">
  <center>
    <h1>New Album Playlist</h1>

    <%= render 'form' %>

  </center>
  <br/><br/>
</div>