<%= form_for @movie_type,
             remote: true,
             html: {id: "movie_type_form"} do |f| %>
    <table>
      <tr>
        <td>Movie Type Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Movie Type" %>
        </td>
      </tr>
    </table>
<% end %>