<%= form_for @program, remote: true, html: {id: "program_form"} do |f| %>

    <table>
      <tr>
        <td>Program Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Program" %>
        </td>
      </tr>
    </table>

<% end %>