<% content_for :title do %> - Supplier Categories
<% end %>

<div id="header">
  <div class="title">Settings - Movies</div>
  <%= render partial: "layouts/movies_settings_nav" %>
</div>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Add Supplier Category", new_supplier_category_path %>
  </div>
  <div id="content-header">
    Supplier Categories
  </div>
</div>