/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/
/*p { text-align: left; }*/

/*form.formtastic{ width:800px;}*/
form.formtastic select { float:left; }
form.formtastic fieldset ol li label { 
	text-align:left;
}

form.formtastic fieldset ol li label { display:block; width:150px;  padding:0; }

form.formtastic fieldset ol li fieldset ol {width:100%;}

.form-squeeze li{
	display:inline;
	float:left;	
}
.form-squeeze li label{
	display:inline;
	float:left;	
	width:200px;
}
form.formtastic fieldset ol li.check_boxes fieldset ol li {
float:left; padding-right:10px;
}

form.formtastic fieldset ol li.string input{
	width:70%;
}


table.screener td fieldset.buttons,
table.master td fieldset.buttons{
	margin:0 !important;
	padding:0 !important;
	text-align:center;
}
#screener_location_input label{
	width:50px;
}
#master_episode_title, #master_synopsis{
	width:90%;
}
#master_synopsis{
	height:80px;
}