/* CSS Document */

html, td {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size: 13px;
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
}
.pl-title{
	font-weight:bold;
}

table.playlist{
	border-collapse: collapse;
	border: 2px solid #ddd;
}
.playlist td {
	font-size: 13px;
	border: 1px solid #ddd;	
	color: #333;	
	padding:5px;
}
.print{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
.print h2{
	margin-bottom:0;
}

@media print {  
	body { background-color: #FFF; }  
	
	table.playlist{
		page-break-inside: avoid;  
	}
}