<%= render partial: 'header' %>
<div id="content">
  <center>
    <%= render partial: 'form' %>
    <br/>
    <table border="0" cellpadding="10" cellspacing="0" width="100%" id="languages">
      <tr>
        <td class="list-header">ID</td>
        <td class="list-header">Language</td>
        <td colspan="2" class="list-header">&nbsp;</td>
      </tr>
      <%= render partial: 'language',
                 collection: @languages %>
    </table>

    <br/>
    <br/>
    <%= will_paginate @languages %>

  </center>
</div>