<% form_remote_tag :url => {:action => 'create'}, 
                    :html => {:id => 'origin_form'} do %>
<table>
  <tr>
	<td>Origin Name</td>
    <td>
      <%= text_field_tag 'origin[name]' %>
    </td>
    <td colspan="2">
      <%= submit_tag "Add New Origin" %>
    </td>
  </tr>
</table>
<% end %>