<%= form_for @origin,
             remote: true,
             html: {id: "origin_form"} do |f| %>
    <table>
      <tr>
        <td>Origin Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Origin" %>
        </td>
      </tr>
    </table>
<% end %>