<div id="header">
  <div class="title">Users</div>
  <div id="nav">
    <ul>
      <li><%= link_to "Dashboard",
                      controller: "dashboard" %></li>
      <% if permitted_to? :edit,
                          :users %>
          <li id="curr-nav"><%= link_to "Users",
                                        users_path %></li>
      <% end %>

    </ul>
    <div id="clear"><br/></div>
  </div>
</div>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to("Add User",
                new_user_path) if permitted_to? :new,
                                                :users %>
  </div>
  <div id="content-header">
    Users
  </div>
</div>