<%= render :partial => 'header' %>
<div id="content">
<center>
<h1>Edit User</h1>
<%= error_messages_for :user -%>
<% form_for @user, :html => { :multipart => true } , :url => { :action => "update", :id => @user.id } do |form| %>
<%= render :partial => "form", :object => form %>
<%= submit_tag "Save", :class => "submit" %>
<% end %>
<br/>
</center>
</div>
