<h2>Screeners</h2>

<div id="screeners">
  <%= render partial: 'screener', collection: @video.screeners %>
</div>
<p><%= link_to_add_fields "Add a screener", f, :screeners %></p>

<br/><br/>
<h2>Masters</h2>

<div id="masters">
  <%= render partial: 'master', collection: @video.masters %>
</div>
<p><%= add_master_link "Add a master" %></p>