<%= form_for @publisher, remote: true, html: {id: "publisher_form"} do |f| %>
    <table>
      <tr>
        <td>Publisher Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Publisher" %>
        </td>
      </tr>
    </table>
<% end %>