<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
<table width="100%">
  <% @accum_duration = 0 %>
  <tbody id="audioplaylist" class="sort-list" data-url="<%= sort_audio_playlist_path %>" style="cursor: move">
    <% @audio_playlist.audio_playlist_tracks_sorted.each.with_index do |track, index| %>
      <%= render partial: 'playlist_track', object: track, locals: { position: index + 1} %>
    <% end %>
  </tbody>
</table>