<tr>
  <td><strong>Track Title</strong></td>
  <td><strong>Artist</strong></td>
  <td><strong>Tempo</strong></td>
  <td><strong>Year</strong></td>
  <td>&nbsp;</td>
</tr>
<%= render partial: 'track',
           collection: @tracks %>