<center>
  <div class="download-overlay">
    <%= link_to_hide_overlay 'X',
                             audio_playlists_path,
                             id: 'cancel' %>
    <br/><br/>

    <h2>Zip File Created!</h2><br/>

    <h2><%= link_to "Download Playlist MP3s",
                    Settings.nas_zip_url + "tracks/" + @playlist_id + ".zip" %></h2>
    <br/><br/>
    <%= link_to_hide_overlay 'Cancel',
                             audio_playlists_path %>
  </div>
</center>