<html>
<header>
<title>Images in Motion - Songs Playlist <%=h @audio_playlist.id %></title>
<%= stylesheet_link_tag 'print' , :media => 'print' %>
<%= stylesheet_link_tag 'print' , :media => 'screen' %>
</header>
<body>
<div class="print">
	<table border="0" width="100%">
	  <tr>
	    <td align="right"><strong>Song Playlist ID:</strong></td>
	    <td width="20%"><%=h @audio_playlist.id %></td>
	    <td align="right"><strong>IN/OUT:</strong></td>
	    <td width="20%"><%=h @audio_playlist.in_out %></td>
		<td align="right"><strong>Programmer:</strong></td>
		<td width="10%"><%=h @audio_playlist.user.login if !@audio_playlist.user_id.nil? %></td>
	  </tr>
	  <tr>
	    <td align="right"><strong>Client Playlist Code:</strong></td>
	    <td><%=h @audio_playlist.client_playlist_code %></td>
		<td align="right"><strong>Airline:</strong></td>
	    <td><%=h @audio_playlist.airline.name if !@audio_playlist.airline_id.nil? %></td>
		<td align="right"><strong>VO:</strong></td>
		<td><%=h @audio_playlist.vo.name if !@audio_playlist.vo_id.nil? %></td>
	  </tr>
	  <tr>
	    <td align="right"><strong>Program:</strong></td>
	    <td><%=h @audio_playlist.program.name if !@audio_playlist.program_id.nil?%></td>
			<td align="right"><strong>Play Date:</strong></td>	
			<td><%=h @audio_playlist.start_playdate.strftime("%B %Y") %> to <%=h @audio_playlist.end_playdate.strftime("%B %Y") %></td>
			<td align="right"><strong>Airline Duration:</strong></td>
	    <td><%=h @audio_playlist.airline_duration %></td>
	  </tr>
		<tr>
			<td align="right"><strong>Total Duration:</strong></td>
	    <td><%=h @audio_playlist.total_duration_cached %></td>
			<td align="right"><strong>Splits:</strong></td>
	    <td><%= render :partial=>'splits', :object => @audio_playlist %></td>
		</tr>
	</table>
	<div id="playlist">
	<table width="100%" border="1">
	<% @accum_duration = 0 %>	
	<tbody id="audioplaylist" >
	  <%= render :partial => 'playlist_track_view', :collection => @audio_playlist.audio_playlist_tracks_sorted %>
	</tbody>
	</table>
</div>
</body>
</html>