<!DOCTYPE html>
<html>
<head>
  <title>IIM</title>
  <META HTTP-EQUIV=”Pragma” CONTENT=”no-cache”>
  <META HTTP-EQUIV=”Expires” CONTENT=”-1″>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <%= stylesheet_link_tag 'iim' %>
</head>
<body>
<center>
  <h2>Splits</h2>
  <table class="splits">
    <tr>
      <th>Duration</th>
      <th>more than</th>
      <th>less than</th>
    </tr>
    <% @splits.each do |split| %>
        <tr>
          <td><%= split.name %></td>
          <td><%= duration(split.more_than) %></td>
          <td><%= duration(split.less_than) %></td>
    <% end %>
  </table>
</center>
</body>