<center><strong><%= @results.count if !@results.nil? %> Releases found!</strong><br/>(only top 100 results
  shown)<br/><br/></center>
<table id="audio_playlists" cellspacing="0">
  <tr>
    <th>&nbsp;</th>
    <th>Album Title</th>
    <th>Artist</th>
    <th>Language</th>
    <th>Release Year</th>
    <th>&nbsp;</th>
    <th>Details</th>
    <th>&nbsp;</th>
  </tr>
  <%= render partial: 'result',
             collection: @results if !@results.nil? %>
</table>
	