<%= render :partial => 'header' %>
<div id="content">
    <center>
        <%= render :partial => 'form' %>
        <br/>
        Note: Editing/Deleting splits will affect ALL splits in ALL playlists
        <table border="0" cellpadding="10" cellspacing="0" width="100%" id="splits">
          <tr >
            <td class="list-header">ID</td>
            <td class="list-header">Split Name</td>
            <td class="list-header">Split Duration</td>
            <td class="list-header">More Than</td>
            <td class="list-header">Less Than</td>
            <td colspan="2" class="list-header">&nbsp;</td>
          </tr>
          <%= render :partial => 'split', :collection => @splits %>
        </table>

        <br />
        <%= will_paginate @splits %>

    </center>
</div>