<%= form_for @movie_genre, remote: true, html: { id: "movie_genre_form" } do |f| %>
    <table>
      <tr>
        <td>Movie Genre Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Movie Genre" %>
        </td>
      </tr>
    </table>
<% end %>