<%= link_to "+ add genre", genres_path, :id => 'add', :popup => true %>
<ul class="checkbox-list">
	<% @album_genres = @album.genres %>
  <% @genres.each do |genre| -%>
    <li><%= check_box_tag "album[genre_ids][]", genre.id, album_has_genre?(@album_genres,genre.id) -%> <%= genre.name -%></li>
		  <% end -%>
</ul>
<p class="clear"></p>