<% remote_form_for (@album) do |form| %>
<strong>Synopsis</strong><br/><br/>
<%= link_to "YesAsia", "http://www.yesasia.com", :popup => true %> | 
<%= link_to "Wikipedia", "http://www.wikipedia.org/wiki/#{@album.artist_original.sub(/ /, '_')}", :popup => true %>
<br/><br/>
<%= form.text_area :synopsis %>
<br/>
<% end %>