<%= render partial: 'layouts/album_header' %>
<center>
  <p style="color: green">
    <%= flash[:notice] %>
  </p>
</center>

<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Add a track",
                remote: true,
                url: {action: "add_track",
                      id: @album} %>
  </div>
  <div id="content-header">New Album<br/>
  </div>
</div>

<div id="content">
  <center>
    <h1>New Album</h1>

    <%= render 'form' %>

  </center>
  <br/><br/>
</div>
