<%= form_for @video_playlist_type,
             remote: true,
             html: {id: "video_playlist_type_form"} do |f| %>
    <table>
      <tr>
        <td>Video Playlist Type Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Video Playlist Type" %>
        </td>
      </tr>
    </table>
<% end %>