<%= render :partial => 'header' %>
<div id="content">
	<center>
	<h2>Edit Right</h2>
<%= error_messages_for :right -%>
<% form_for @right, :url => { :action => "update", :id => @right.id } do |form| %>
<%= form.label :name %><br />
<%= form.text_field :name %><br />
<%= form.label :controller %><br />
<%= form.text_field :controller %><br />
<%= form.label :action %><br />
<%= form.text_field :action %><br />
<br />
<%= submit_tag "Save", :class => "submit" %>
<% end %>
</center>
</div>