<%= render :partial => 'header' %>
<div id="content">
	<center>
<h1>New Right</h1>

<% form_for :right, :url => { :action => "create" } do |f|  %>
  <%= error_messages_for(f.object) %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>
</center>
</div>