<%= render :partial => 'header' %>
<div id="content">
	<h2>Edit Role</h2>
<%= error_messages_for :role -%>
<% form_for @role, :url => { :action => "update", :id => @role.id } do |form| %>
<%= render :partial => "form", :object => form %>
<%= submit_tag "Save", :class => "submit" %>
<% end %>
<br/>
</div>