  <tr id="airline-row-<%=h airline.id %>">
    <td class="list-item"><%=h airline.id %></td>
    <td class="list-item"><%=h airline.name %></td>
	<td class="list-item"><%=h airline.code %></td>
    <td class="list-item"><%= link_to 'Edit', edit_airline_path(airline) %></td>
    <td class="list-item"><%= link_to 'Delete', airline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>