body {
background-color: #EBEBEB;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
font-size: 70%;
border: 0;
margin: 0;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
/* for ie */
div.centered{
	text-align:center;
}
div.centered table{
	margin: 0 auto;
	/*text-align:left;*/
}
/* end ie quirk */
th{
	text-align:left;
}
td{
	text-align:left;
}
h2{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 1.2em;
}
a,a:link,a:visited {
color: #246499;
}
.clear {
clear: both;
}
#header {
background-color: #00417C;
color: #FFFFFF;
padding-right: 20px;
padding-left: 20px;
}
#header ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
margin-left: 0;
}
#header li {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
margin-left: 0;
margin-right: 10px;
list-style-type: none;
float: left;
}
#header a:link,#header
a:visited {
color: #FFFFFF;
background-color: #246499;
text-decoration: none;
padding: 5px;
font-weight: bold;
}
#header a:hover {
background-color: #FCDB08;
color: #333333;
}
#nav {
padding-top: 10px;
padding-bottom: 5px;
}
#company-name {
font-size: 1em;
padding-top: 10px;
padding-bottom: 5px;
}
#logout {
float: right;
padding-top: 10px;
}
.title {
color: #FCDB08;
font-size: 1.5em;
}
#content {
background-color: #FFFFFF;
padding: 10px;
margin-right: 20px;
margin-left: 20px;
text-align: center;
}
.dashboard {
background-color: #00417C;
text-align: center;
}
.dashboard a:link,.dashboard a:visited {
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}
.dashboard a:hover {
color: #FCDB08;
}
#content-header-wrapper {
margin-top: 10px;
margin-left: 20px;
margin-right: 20px;
background-color: #EEF0F9;
}
#content-header-actions {
background-color: #EEF0F9;
float: right;
padding: 10px;
}
#content-header-actions a:link,
#content-header-actions a:visited {
color: #FF0000;
}
#content-header {
background-color: #EEF0F9;
padding: 10px;
font-size: 1.5em;
}
.list th{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #666666;
font-weight: bold;
}
.list td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.list-header {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #666666;
font-weight: bold;
}
.list-item {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
#sort_table th {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #666666;
font-weight: bold;
}
#playlist {
width:982px;
margin:0 auto;
background-color: #EEEEEE;
border: 3px solid #246499;
background-color: #EEF0F9;
text-align: left;
font-size: 8pt;
}
#playlist td {
padding: 1px;
margin: 0;
border-right: 0;
border-right: 0;
background-color: #FFFFFF;
}
.results td {
padding: 5px;
}
#tab-area {
border: 3px solid #246499;
background-color: #EEF0F9;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 15px;
}
#tab-area td {
padding: 5px;
margin: 0;
border-right: 0;
border-right: 0;
background-color: #FFFFFF;
}
#search_results td {
padding: 5px;
margin: 0;
border-right: 0;
border-right: 0;
background-color: #FFFFFF;
}
.nav-tab {
padding-top: 10px;
padding-bottom: 5px;
margin-top: 10px;
}
.nav-tab a:link,#header
a:visited {
color: #FFFFFF;
background-color: #246499;
text-decoration: none;
padding: 5px;
font-weight: bold;
}
#curr-nav a:link,#curr-nav a:visited {
color: #00417C;
background-color: #EBEBEB;
text-decoration: none;
padding: 5px;
font-weight: bold;
}
.nav-tab a:hover,#header
a:hover {
background-color: #FCDB08;
color: #333333;
}
.checkbox-list {
list-style: none;
}
.checkbox-list li {
float: left;
height: 30px;
width: 150px;
list-style: none;/*border:1px solid #999999;*/
text-align:left;
}
.pl-title {
text-align: right;
font-weight: bold;
}
.show-title {
text-align: right;
font-weight: bold;
}
.show td {
padding: 5px;
}
#search_form {
padding: 0;
margin: 0;
}
.overlay {
background-color: #FFFFFF;
border: 3px solid #CCCCCC;
padding: 5px;
width: 700px;
height: 450px;
overflow: auto;
float:right;
}
.download-overlay {
background-color: #FFFFFF;
border: 3px solid #CCCCCC;
padding: 5px;
width: 300px;
height: 200px;
overflow: auto;
}
.pagination {
background: white;/* self-clearing method:*/
}
.pagination a,.pagination span {
padding: .2em
.5em;
display: block;
float: left;
margin-right: 1px;
}
.pagination span.disabled {
color: #999;
border: 1px solid #DDD;
}
.pagination span.current {
font-weight: bold;
background: #2E6AB1;
color: white;
border: 1px solid #2E6AB1;
}
.pagination a {
text-decoration: none;
color: #105CB6;
border: 1px solid #9AAFE5;
}
.pagination
a:hover,.pagination a:focus {
color: #003;
border-color: #003;
}
.pagination
.page_info {
background: #2E6AB1;
color: white;
padding: .4em .6em;
width: 22em;
margin-bottom: .3em;
text-align: center;
}
.pagination .page_info b {
color: #003;
background: #6aa6ed;
padding: .1em .25em;
}
.pagination:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
* html .pagination {
height: 1%;
}
*:first-child+html .pagination {
overflow: hidden;
}
.center {
text-align: center;
}
#audio_playlists table, #album_playlists table, #albums table, #tracks table, #movies table, .lists table, #videos table, #movie_playlists table, #video_playlists table, #video_master_playlists table, #screener_playlists table{
	padding:0;
	margin-top:5px;
	margin-bottom:10px;
}
#audio_playlists th, #album_playlists th, #albums th, #tracks th, #movies th, #movie_playlists th, #video_playlists th, #video_master_playlists th, #videos th, .lists th, #screener_playlists th {
border-bottom: 2px solid #999;
padding:5px;
text-align: left;
}
#audio_playlists td , #album_playlists td, #albums td, #tracks td, #movies td, #movie_playlists td, #video_playlists td, #video_master_playlists td, #videos td, .lists td, #screener_playlists td  {
border-bottom: 1px solid #999;
padding:5px;
text-align: left;
}
#add, #add a:link, #add a:visited{
	text-decoration: none;
	background-color: #DDD;
	padding-top:2px;
	padding-bottom:2px;
  padding-left:5px;
	padding-right:5px;	
	border: 1px solid #999;
}
#cancel, #cancel a:link, #cancel a:visited{
	text-decoration: none;
	background-color: #DDD;
	padding-top:2px;
	padding-bottom:2px;
  padding-left:5px;
	padding-right:5px;	
	float: right;
	border: 1px solid #999;
}
#item_added{
	background-color: #FCDB08;
	color: #333333;
}
.edit th{
	text-align:right;
}
#cd-large{
	float:left;
}
#exists{
		background-color:red;
		color:#fff;
}
#exists a:link, #exists a:visited{
	color:#fff;
}
.action-button a:link, .action-button a:visited{
	border: solid 1px #DDD;
	padding:5px;
	background-color:#246499;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.action-button a:hover{
	background-color:#FCDB08;
	color:#246499;
}
.alert{
	color:red;
}
table.splits{
	border-collapse: collapse	
}
.splits td, .splits th{
	border: solid 1px #DDD;
	padding:3px;
}
.explicit_yes{
	color:red;
	font-weight:bold;
}

/* FORMS */

.settings-forms{
	width:700px;
}

#new_movie, #new_video, .video, .movie{
	width:800px;
}
#poster-thumbnail{
	float:left;
	padding-left:20px;
	width:167px;
	padding-right:20px;
}
/*
#movie_language_tracks_input ol, #movie_release_versions_input ol{
	width:80%;
}
*/
#movie_cast{
	height:30px;
}
#movie_synopsis, #video_synopsis{
	height:100px;
}
#movie_critics_review{
	height:150px;
}
#movie_movie_distributor_id, #movie_production_studio_id, #movie_laboratory_id, #video_production_studio_id, #video_laboratory_id, #video_movie_distributor_id{
	width:190px;
}
#movie_rating{
	width:70px;
}

.screener form.formtastic fieldset ol li label {
	padding:0;
}

#movie_airline_release_date_input legend,#movie_airline_release_date_input label, #video_production_year_input label{
	width:100px;
}

#movie_airline_release_date_input legend span,
#movie_personal_video_date_input legend span,
#movie_screener_received_date_input legend span, #movie_screener_destroyed_date_input legend span{
	position:relative;
}

#movie_airline_release_date_input ol,
#movie_personal_video_date_input ol,
#movie_screener_received_date_input ol, #movie_screener_destroyed_date_input ol{
	padding:0;
}
#movie_theatrical_release_year_input label{
	width:180px;
}
#movie_rating_input label{
	width:105px;
}
#movie_theatrical_runtime_input label{
	width:120px;
}
#movie_edited_runtime_input label{
	width:95px;
}
#movie_theatrical_release_year, #movie_theatrical_runtime, #movie_edited_runtime, #video_production_year, #video_episodes_available{
	width:39px;
}
#movie_poster_quantity{
	width:29px;
}
#movie_poster_quantity_input label{
	width:30px;
}
.master li{
	margin:0;
	padding:0;
}
.master td{
	vertical-align: top; 
}
#movie_has_poster_input label, #movie_has_press_kit_input label{
	padding-left:0;
}
#movie_has_poster_input{
	float:left;
}

#movie_poster_input, #video_poster_input{
	list-style:none;
}
#movie_airline_rights_countries_input li{
	width:210px;
}
#movie_language_tracks_input li, #movie_language_subtitles_input li, #video_language_tracks_input li, #video_language_subtitles_input li{
	width:70px;
}

#movie_movie_genres_input li {
	width:100px;
}
#video_video_genres_input li{
	width:280px;
} 
#movie_screener_remarks_input li{
	width:150px;
}
#movie_airline_countries{
	height:40px;
}
#language_track, #language_subtitle,#search_conditions_movie_type_equals, #search_conditions_movie_genres_id_equals, #search_conditions_movie_distributor_id_equals, #search_conditions_laboratory_id_equals{
	width:150px;
}
#search_conditions_screener_received_date_gte_3i, #search_conditions_screener_received_date_gte_2i, #search_conditions_screener_received_date_gte_1i, #search_conditions_screener_received_date_lte_3i, #search_conditions_screener_received_date_lte_2i, #search_conditions_screener_received_date_lte_1i{
	width:40px;
}
#search_conditions_airline_release_date_gte_2i, #search_conditions_airline_release_date_gte_1i{
	width:62px;
}
#search_conditions_airline_release_date_gte_2i, #search_conditions_airline_release_date_lte_2i{
	width:50px;
}
#language_track, #language_subtitle{
	width:55px;
}
form.formtastic legend { float:left;}
.video_genre {
	padding-bottom:10px;
	float:right;
	width:380px;
}
.video_genre label{
	float:left;
	width:190px;	
}
.errorExplanation{
	color:red;
}
.error input, .error textarea{
	border: 2px solid #F00;
}
#video_episodes_available_input{
	margin:0;
}
#video_on_going_series_input label{
	padding:0;
}
.screener li{
	list-style: none;
}
.screener_title{
	width:180px;
}
.master li{
	list-style: none;
}
.master_title{
	width:225px;
}
.master_time{
	width:110px;
}
/* Adjusting widths of dropdown lists */
/* movie playlists*/
#movie_playlists_conditions_movie_type_equals, #movie_playlists_conditions_movie_genres_id_equals, #movie_playlists_conditions_laboratory_id_equals, #movie_playlists_conditions_movie_distributor_id_equals{
	width:120px;
}
#search_form #language_track, #search_form #language_subtitle{
	width:60px;
}

table.movieplaylist{
	border-collapse: collapse;
	border: 2px solid #ddd;
}
.movieplaylist td{
	font-size: 13px;
	border: 1px solid #ddd;	
	color: #333;	
	padding:5px;
}
table.playlist {
	border: 1px solid #ddd;	
}
table.playlist td{
	padding:5px;
}

table.no-padding td{
	padding:0;
}
/* videos */
#language_track, #language_subtitle, #search_conditions_video_genres_video_parent_genre_id_equals, #search_conditions_video_genres_id_equals, #search_conditions_video_type_equals, #search_conditions_laboratory_id_equals, #search_conditions_video_distributor_id_equals, #search_conditions_or_programme_title_keywords, #search_conditions_production_year_equals{
	width: 150px;
}
#video_video_distributor_id, #video_production_studio_id, #video_laboratory_id{
	width: 190px;
}
label#video_commercial_run_time_id{
}
/* masters */
#video_masters_attributes_0_episode_number, #video_masters_attributes_0_location, #video_masters_attributes_0_time_in, #video_masters_attributes_0_time_out, #video_masters_attributes_0_tape_media, #video_masters_attributes_0_tape_format, #video_masters_attributes_0_tape_size, #video_masters_attributes_0_video_subtitles, #video_masters_attributes_0_language_track_1, #video_masters_attributes_0_language_track_2, #video_masters_attributes_0_language_track_3, #video_masters_attributes_0_language_track_4, #video_masters_attributes_0_aspect_ratio{
	width:80px;
}

/* video playlists */
#video_playlists_conditions_or_programme_title_keywords, #video_playlists_conditions_laboratory_id_equals, #language_track, #video_playlists_conditions_video_genres_video_parent_genre_id_equals, #video_playlists_conditions_video_type_equals, #video_playlists_conditions_video_distributor_id_equals, #video_playlists_conditions_production_year_equals, #language_subtitle, #video_playlists_conditions_video_genres_id_equals{
	width:100px;
}

/* Movies */
table.movie td, table.movie t{
	vertical-align:top;
}

/* Suppliers */
#supplier_supplier_categories_input li {
	width:250px;
}	

/* Pagination */
.page_links a{
	padding:5px;
}

@media print {  
	body, html{
		margin:0;
		padding:0;
	}
	body, td, th, select{ 	
		background-color: #FFF; 
		font-size:7pt;
	}  

	#header, #content-header-actions, .actions, .action-button,input[type="submit"]{
		display:none;
	}
	#playlist{
		border:0;
		width:100%;
	}
	select{
		height:10px;
	}
	table.edit, #content-header, #content{
		width:1024px;
	}		
	.print-hide{
		display:none;
	}
	
}