<% content_for :title do %> - Master Playlist Types<% end %> 

<div id="header">
	<div class="title">Settings - Movies</div>
	<%= render :partial=>"layouts/movies_settings_nav" %>
</div>

<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
	<div id="content-header">
		Master Playlist Types
	</div>
</div>
