<%= form_for @category, remote: true, html: { id: "category_form" } do |f| %>
    <table>
      <tr>
        <td>Category Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Category" %>
        </td>
      </tr>
    </table>
<% end %>