<%= form_for @airline_rights_country,
             remote: true,
             html: {id: "airline_rights_country_form"} do |f| %>
    <table>
      <tr>
        <td>Airline Rights Country Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New Airline Rights Country" %>
        </td>
      </tr>
    </table>
<% end %>