<% content_for :title do %> - Airline Rights Countries<% end %> 

<div id="header">
	<div class="title">Settings - Movies</div>
	<%= render :partial=>"layouts/movies_settings_nav" %>
</div>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
<div id="content-header-actions">

</div>
<div id="content-header">
Airline Rights Countries
</div>
</div>