<% content_for :title do %> - Suppliers
<% end %>

<div id="header">
  <div class="title">Settings - Movies</div>
  <%= render partial: "layouts/movies_settings_nav" %>
</div>

<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Add Supplier", new_supplier_path %>
  </div>
  <div id="content-header">
    Suppliers
  </div>
</div>