<%= render :partial => 'header' %>

<div id="content">
	<% form_for @search,  :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')" do |f| %>
		<%= render :partial => 'search_form', :locals => { :f => f } %>
	<% end %>  

	<div id="suppliers"><%= render :partial => "suppliers" %></div>
</div>