<%= render partial: 'header' %>

<div id="content">

  <%= render partial: 'search_form',
             object: @search %>

  <div id="suppliers">
    <%= render partial: "suppliers",
               object: @search %>
  </div>

</div>