<%= render partial: 'header' %>
<div id="content">
  <center>

    <h1>New Supplier</h1>

    <%= render partial: 'form' %>

    <%= link_to 'Back', suppliers_path %>

  </center>

  <br/>
  <br/>
</div>