<%= form_for @vo,
             remote: true,
             html: {id: "vo_form"} do |f| %>
    <table>
      <tr>
        <td>VO Name</td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td colspan="2">
          <%= f.submit "Add New VO" %>
        </td>
      </tr>
    </table>
<% end %>