<center>
    <strong>Add Video to Playlist</strong><br/>

    <div id="search_form">
      <%= render partial: 'video_search_form',
                 object: @search %>
    </div>
    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  style: 'display:none;' %>

    <div id="item_added"></div>

    <div id="videos">
      <%= render partial: "videos" %>
    </div>
</center>


<script type="text/javascript">
    var $ = jQuery;

    $(function () {
        $("#video_search_form").submit(function (form) {
            form.preventDefault();
            $.ajax({ url: '/videos',
                type: 'get',
                success: function() {
                    var videos = " <%= escape_javascript(render("videos")) %> ";
                    $("#videos").html(videos);
                }
            });
        });
    });
</script>
